html {
    font-family: 'Circular Std', sans-serif;
}

body{
  margin: 0 auto;
  width: 100%;
}

.parallaxContainer{
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  z-index: 5;
}

.foregroundContent{
  width: 100%;
  margin: 0 auto;
}

.title{
  position: absolute;
  z-index: 10;
  top: 230px;
  left: 220px;
}

.title img{
  width: 80%;
}

.imgNoFace{
  position: absolute;
  z-index: 6;
  top: 70px;
  left: 475px;
}

.imgNoFace img{
  width: 40%;
}

.buttons{
  position: absolute;
  z-index: 6;
  top: 500px;
  width: 100%;
}

.littleBigBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
}

.littleBigBox a{
  margin: 50px 230px;
}

.chooseItem{
  position: absolute;
  z-index: 6;
  top: 1050px;
}

.txtBigBox{
  position: absolute;
  z-index: 8;
}

.choixBureau h3{
  margin: 105px 0px 0px 235px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
}

.choixChambre h3{
  margin: 105px 0px 0px 540px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
}

.choixBain h3{
  margin: 220px 0px 0px 235px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
}

.choixCave h3{
  margin: 220px 0px 0px 540px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
}

.txtFirstBox{
  display:flex;
  justify-content: row;
}

.txtSecondBox{
  display:flex;
  justify-content: row;
}

.bigBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
}

.bigBox img{
  width: 30%;
  margin: 70px 200px;
}

.firstBox{
  display:flex;
  justify-content: row;
}

.secondBox{
  display:flex;
  justify-content: row;
}


.bureauFront{
  position: absolute;
  width: 70%;
  z-index: 3;
  left: 200px;
  top: 2170px;
}

.bureauBack{
  position: absolute;
  width: 70%;
  z-index: 2;
  left: 200px;
  top: 2408px;
}

.chambreFront{
  position: absolute;
  width: 80%;
  z-index: 3;
  left: 200px;
  top: 3110px;
}

.chambreBack{
  position: absolute;
  width: 45%;
  z-index: 4;
  left: 430px;
  top: 3120px;
}

.bainFront{
  position: absolute;
  width: 75%;
  z-index: 2;
  left: 240px;
  top: 3400px;
}

.bainBack{
  position: absolute;
  width: 60%;
  z-index: 3;
  left: 240px;
  top: 3900px;
}

.caveFront{
  position: absolute;
  width: 72%;
  z-index: 2;
  left: 200px;
  top: 4650px;
}

.caveBack{
  position: absolute;
  width: 35%;
  z-index: 3;
  left: 600px;
  top: 4860px;
}


.firstPagode{
  position: absolute;
  margin: 300px 50px;
  z-index:6;
  width: 25%;
  top: 2400px;
  left: 421px;
}

.secondPagode{
  position: absolute;
  margin: 300px 50px;
  z-index:6;
  width: 35%;
  top: 3100px;
  left: 370px;
}

.thirdPagode{
  position: absolute;
  margin: 300px 50px;
  z-index:6;
  width: 35%;
  top: 3800px;
  left: 370px;
}

.tunnel{
  position: absolute;
  z-index:5;
  margin-top: 300px;
}

.tunnel img{
  width: 100%;
  margin: 0 auto;
}

.map{
  position: absolute;
  z-index: 5;
  margin-top: 50px;
}

.map{
  width: 75%;
  margin: 0 auto;
}

.loaderPage{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b33939;
  z-index: 9999;
}

.loader{
  position: fixed;
  width: 8%;
  margin: 20% 45%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.m-mouse-icon {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  border: 2px solid;
  border-color: #FFF;
  border-radius: 20px;
  bottom: 50px;
  height: 70px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40px;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.m-mouse-icon:hover {
  opacity: .3!important;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.m-mouse-icon .m-wheel {
  -webkit-animation: 1.5s ease 0s normal none infinite magic-mouse-icon;
    -moz-animation: 1.5s ease 0s normal none infinite magic-mouse-icon;
    -o-animation: 1.5s ease 0s normal none infinite magic-mouse-icon;
    animation: 1.5s ease 0s normal none infinite magic-mouse-icon;
    border-radius: 100%;
    height: 10px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 8px;
    background: #fff;
}

@-moz-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 18px;
    opacity: 0
  }
}

@-webkit-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 18px;
    opacity: 0
  }
}

@-o-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 18px;
    opacity: 0
  }
}

@keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    margin-top: 18px;
    opacity: 0
  }
}


/* FOR DEMO */
.section:nth-child(2) {
	background: #444;
}
.text-center {
	text-align: center;
}
.section a {
	color: #09d3de;
}
