body{
  margin: 0 auto;
  width: 100%;
}

.parallax-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  z-index: 5
}

.front{
  position: absolute;
  z-index: 2;
  margin-left: 100px;
}

.back{
  position: absolute;
  z-index: 3;
  margin-left: 100px;
}

.bureau{
  top: 1150px;
}

.chambre{
  top: 1450px;
}

.chambreFront{
  
}

.bain{
  top: 1700px;
}

.cave{

}

.foreground img{
  width: 100%;

}

.hotelFront{
  position: absolute;
  margin: 300px 50px;
  z-index:2;
  width: 75%;
}

.hotelFront img{
  width: 50%;
  margin: 200px;
}

.tunnel{
  position: absolute;
  z-index:5;
  margin-top: 300px;
}

.tunnel img{
  width: 100%;
  margin: 0 auto;
}

.monstre{
  position: absolute;
  top: 1335%;
  left: 5%;
  width: 15%;
  transform: translateX(0px);
  transition: all 30s linear;
  z-index: 2;
}

.loaderPage{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b33939;
  z-index: 9999;
}

.loader{
  position: fixed;
  width: 8%;
  margin: 20% 45%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
