body{
  margin: 0 auto;
  width: 100%;
}

.parallax-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  z-index: 5
}

.bureauFront{
  position: absolute;
  width: 70%;
  z-index: 2;
  left: 200px;
  top: 2170px;
}

.bureauBack{
  position: absolute;
  width: 40%;
  z-index: 3;
  left: 430px;
  top: 2890px;
}

.chambreFront{
  position: absolute;
  width: 75%;
  z-index: 2;
  left: 200px;
  top: 2770px;
}

.chambreBack{
  position: absolute;
  width: 40%;
  z-index: 3;
  left: 320px;
  top: 2820px;
}

.bainFront{
  position: absolute;
  width: 75%;
  z-index: 2;
  left: 240px;
  top: 3170px;
}

.bainBack{
  position: absolute;
  width: 60%;
  z-index: 3;
  left: 240px;
  top: 3400px;
}

.caveFront{
  position: absolute;
  width: 65%;
  z-index: 2;
  left: 200px;
  top: 4050px;
}

.caveBack{
  position: absolute;
  width: 45%;
  z-index: 3;
  left: 428px;
  top: 4100px;
}

.foreground img{
  width: 100%;

}

.hotelFront{
  position: absolute;
  margin: 300px 50px;
  z-index:6;
  width: 75%;
}

.hotelFront img{
  width: 50%;
  margin: 200px;
}

.tunnel{
  position: absolute;
  z-index:5;
  margin-top: 300px;
}

.tunnel img{
  width: 100%;
  margin: 0 auto;
}

.monstre{
  position: absolute;
  top: 1335%;
  left: 5%;
  width: 15%;
  transform: translateX(0px);
  transition: all 30s linear;
  z-index: 2;
}

.loaderPage{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b33939;
  z-index: 9999;
}

.loader{
  position: fixed;
  width: 8%;
  margin: 20% 45%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
