body{
  margin: 0 auto;
  width: 100%;
}

.parallax-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  perspective: 8px;
  perspective-origin: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(3px);
}

.background_image{
  width: 50%;
}

.foreground img{
  width: 50%;
}
